<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
<head>
  <meta charset="utf-8" />
  <meta name="generator" content="pandoc" />
  <title>{{title}}</title>
  <style type="text/css">
  </style>
  <link rel="stylesheet" type="text/css" href="../styles/main.css" />
</head>
<body epub:type="frontmatter">
<section class="titlepage" epub:type="titlepage">
{{#each pages}}
{{#if type_halftitle_before }}
  <span role="doc-pagebreak" id="pg{{page}}" aria-label="{{label}}"/>
{{/if}}
{{#if type_halftitle_after }}
  <span role="doc-pagebreak" id="pg{{page}}" aria-label="{{label}}"/>
{{/if}}
{{#if type_title_before }}
  <span role="doc-pagebreak" id="pg{{page}}" aria-label="{{label}}"/>
{{/if}}
{{/each}}

{{#if titlepage}}
{{{titlepage.content}}}
{{else}}
  <h1>{{title}}</h1>
{{#if subtitle}}
  <h2>{{subtitle}}</h2>
{{/if}}
{{#each authors}}
  <p class="author">{{name}}</p>
{{/each}}
{{/if}}

{{#each pages}}
{{#if type_title_after }}
  <span role="doc-pagebreak" id="pg{{page}}" aria-label="{{label}}"/>
{{/if}}
{{/each}}
</section>
</body>
</html>
