<?xml version="1.0" encoding="UTF-8"?>
<ncx version="2005-1" xmlns="http://www.daisy.org/z3986/2005/ncx/">
  <head>
    <meta name="dtb:uid" content="urn:uuid:{{uuid}}" />
{{#if isbn}}
    <meta name="dtb:uid" content="urn:isbn:{{isbn}}" />
{{/if}}
    <meta name="dtb:depth" content="1" />
    <meta name="dtb:totalPageCount" content="0" />
    <meta name="dtb:maxPageNumber" content="0" />
  </head>
  <docTitle>
    <text>{{title}}</text>
  </docTitle>
  <navMap>
    <navPoint id="navPoint-title">
      <navLabel>
        <text>{{title}}</text>
      </navLabel>
      <content src="text/title.xhtml" />
    </navPoint>
{{#if copyright}}
    <navPoint id="navPoint-copyright">
      <navLabel>
        <text>Copyright Information</text>
      </navLabel>
      <content src="text/copyright.xhtml" />
    </navPoint>
{{/if}}
{{#if dedication}}
    <navPoint id="navPoint-dedication">
      <navLabel>
        <text>Dedication</text>
      </navLabel>
      <content src="text/dedication.xhtml" />
    </navPoint>
{{/if}}
{{#if foreword}}
    <navPoint id="navPoint-foreword">
      <navLabel>
        <text>Foreword</text>
      </navLabel>
      <content src="text/foreword.xhtml" />
    </navPoint>
{{/if}}
{{#each chapters}}
    <navPoint id="navPoint-c{{paddedIndex}}">
      <navLabel>
        <text>{{title}}</text>
      </navLabel>
      <content src="text/c{{paddedIndex}}.xhtml" />
    </navPoint>
{{/each}}
    <navPoint id="navPoint-bibliography">
      <navLabel>
        <text>Bibliography</text>
      </navLabel>
      <content src="text/bibliography.xhtml" />
    </navPoint>
  </navMap>
</ncx>
