<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
<head>
  <meta charset="utf-8" />
  <meta name="generator" content="pulpweaver-epub" />
  <title>{{foreword.title}}</title>
  <style type="text/css">
    h1.title,
    .subtitle {
      text-align: center;
    }

    .subtitle {
      font-style: italic;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="../styles/main.css" />
</head>
<body epub:type="foreword">
{{#each pages}}
{{#if type_foreword_before }}
  <span role="doc-pagebreak" id="pg{{page}}" aria-label="{{label}}"/>
{{/if}}
{{/each}}
  <h1 class="title">{{foreword.title}}</h1>
{{#if foreword.subtitle}}
  <h2 class="subtitle">{{foreword.subtitle}}</h2>
{{/if}}

{{{foreword.content}}}

{{#each pages}}
{{#if type_foreword_after }}
  <span role="doc-pagebreak" id="pg{{page}}" aria-label="{{label}}"/>
{{/if}}
{{/each}}

{{#if footnotes.length}}
<section class="chapternotes">
  <h2>Notes</h2>
{{#each footnotes}}
  <div class="endnotenum">{{num}}</div>
  <aside id="fn{{id}}" role="doc-footnote" epub:type="footnote">
    {{{content}}}
  </aside>
{{/each}}
</section>
{{/if}}
</body>
</html>
