<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
<head>
  <meta charset="utf-8" />
  <meta name="generator" content="pulpweaver-epub" />
  <title>List of Figures</title>
  <link rel="stylesheet" type="text/css" href="../styles/main.css" />
  <style type="text/css">
  </style>
</head>
<body epub:type="loi" id="loi">
{{#each pages}}
{{#if type_listoffigures_before }}
  <span role="doc-pagebreak" id="pg{{page}}" aria-label="{{label}}"/>
{{/if}}
{{/each}}
  <h1>List of Figures</h1>
  <ul class="content-list">
{{#each figures}}
    <li>{{chapterlabel}}.{{index}} <a href="{{epubfile}}#{{id}}">{{{caption}}}</a></li>
{{/each}}
  </ul>
{{#each pages}}
{{#if type_listoffigures_after }}
  <span role="doc-pagebreak" id="pg{{page}}" aria-label="{{label}}"/>
{{/if}}
{{/each}}
</body>
</html>
