<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
<head>
  <meta charset="utf-8" />
  <meta name="generator" content="pandoc" />
  <title>Bibliography</title>
  <style type="text/css">
  </style>
  <link rel="stylesheet" type="text/css" href="../styles/main.css" />
</head>
<body epub:type="backmatter">
<section epub:type="bibliography">
{{#each pages}}
{{#if type_bibliography }}
  <span role="doc-pagebreak" id="pg{{page}}" aria-label="{{label}}"/>
{{/if}}
{{/each}}
  <h1 class="title">Bibliography</h1>
{{#each sources}}
  <p epub:type="biblioentry">
    {{{content}}}
  </p>
{{/each}}
</section>
</body>
</html>
