<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
<head>
  <meta charset="utf-8" />
  <meta name="generator" content="pulpweaver-epub" />
  <title>Dedication</title>
  <style type="text/css">
  </style>
  <link rel="stylesheet" type="text/css" href="../styles/main.css" />
</head>
<body epub:type="bodymatter">
<section epub:type="dedication" class="dedication">
{{#each pages}}
{{#if type_dedication_before }}
  <span role="doc-pagebreak" id="pg{{page}}" aria-label="{{label}}"/>
{{/if}}
{{/each}}

{{{dedication.content}}}

{{#each pages}}
{{#if type_dedication_after }}
  <span role="doc-pagebreak" id="pg{{page}}" aria-label="{{label}}"/>
{{/if}}
{{/each}}
</section>
</body>
</html>
