<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
<head>
  <meta charset="utf-8" />
  <meta name="generator" content="pulpweaver-epub" />
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="../styles/main.css" />
  <style type="text/css">
  </style>
</head>
<body epub:type="index">
{{#each pages}}
  <span role="doc-pagebreak" id="pg{{page}}" aria-label="{{label}}"/>
{{/each}}
  <h1>{{title}}</h1>
{{#each groups}}
{{#if name}}
  <section epub:type="index-group">
    <h2>{{{name}}}</h2>
{{/if}}

    <ul epub:type="index-entry-list">
{{#each entries}}
      <li epub:type="index-entry">
        <span epub:type="index-term">{{{name}}}</span>
{{#each instances}}
{{#if epubfile}}
        <a epub:type="index-locator" href="{{epubfile}}#{{id}}">{{pp}}</a>
{{else}}
        {{{pp}}}
{{/if}}
{{/each}}
      </li>
{{/each}}
    </ul>

{{#if name}}
  </section>
{{/if}}
{{/each}}
</body>
</html>
