<?xml version="1.0" encoding="UTF-8"?>
<package version="3.0" xmlns="http://www.idpf.org/2007/opf" unique-identifier="uuid" prefix="ibooks: http://vocabulary.itunes.apple.com/rdf/ibooks/vocabulary-extensions-1.0/">
  <metadata xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:opf="http://www.idpf.org/2007/opf">
    <dc:identifier id="uuid">urn:uuid:{{uuid}}</dc:identifier>
{{#if isbn}}
    <dc:identifier id="isbn" opf:scheme="ISBN">urn:isbn:{{isbn}}</dc:identifier>
{{/if}}
    <dc:title id="title">{{title}}</dc:title>
    <dc:date id="date">{{date}}</dc:date>
    <dc:language>en-US</dc:language>
{{#each authors}}
    <dc:creator id="creator-{{@index}}">{{name}}</dc:creator>
    <meta refines="#creator-{{@index}}" property="role" scheme="marc:relators">aut</meta>
    <meta refines="#creator-{{@index}}" property="file-as">{{sortable}}</meta>
{{/each}}
    <meta property="dcterms:modified">{{date}}</meta>
    <meta name="cover" content="{{coverImage}}" />
  </metadata>
  <manifest>
    <item properties="cover-image" id="ci" href="{{coverImage}}" media-type="{{coverImageMimetype}}" />


    <item id="ncx" href="toc.ncx" media-type="application/x-dtbncx+xml" />
    <item id="nav" href="nav.xhtml" media-type="application/xhtml+xml" properties="nav" />
    <item id="style" href="styles/main.css" media-type="text/css" />
{{#if endorsements}}
    <item id="endorsements_xhtml" href="text/endorsements.xhtml" media-type="application/xhtml+xml" />
{{/if}}
    <item id="title_xhtml" href="text/title.xhtml" media-type="application/xhtml+xml" />
{{#if copyright}}
    <item id="copyright_xhtml" href="text/copyright.xhtml" media-type="application/xhtml+xml" />
{{/if}}
{{#if dedication}}
    <item id="dedication_xhtml" href="text/dedication.xhtml" media-type="application/xhtml+xml" />
{{/if}}
    <item id="spinenav_xhtml" href="text/spinenav.xhtml" media-type="application/xhtml+xml" />
    <item id="listoffigures_xhtml" href="text/listoffigures.xhtml" media-type="application/xhtml+xml" />
{{#if foreword}}
    <item id="foreword_xhtml" href="text/foreword.xhtml" media-type="application/xhtml+xml" />
{{/if}}
{{#each chapters}}
    <item id="c{{paddedIndex}}_xhtml" href="text/c{{paddedIndex}}.xhtml" media-type="application/xhtml+xml" />
{{/each}}
{{#each appendices}}
    <item id="c{{paddedIndex}}_xhtml" href="text/c{{paddedIndex}}.xhtml" media-type="application/xhtml+xml" />
{{/each}}
    <item id="bibliography_xhtml" href="text/bibliography.xhtml" media-type="application/xhtml+xml" />
{{#each indices}}
    <item id="i{{paddedIndex}}_xhtml" href="text/i{{paddedIndex}}.xhtml" media-type="application/xhtml+xml" />
{{/each}}
{{#each images}}
    <item id="img_{{id}}" href="figs/{{path}}" media-type="{{mimetype}}" />
{{/each}}
  </manifest>
  <spine toc="ncx">
{{#if endorsements}}
    <itemref idref="endorsements_xhtml" linear="yes" />
{{/if}}
    <itemref idref="title_xhtml" linear="yes" />
{{#if copyright}}
    <itemref idref="copyright_xhtml" linear="yes" />
{{/if}}
{{#if dedication}}
    <itemref idref="dedication_xhtml" linear="yes" />
{{/if}}
    <itemref idref="spinenav_xhtml" linear="yes" />
    <itemref idref="listoffigures_xhtml" linear="yes" />
{{#if foreword}}
    <itemref idref="foreword_xhtml" linear="yes" />
{{/if}}
{{#each chapters}}
    <itemref idref="c{{paddedIndex}}_xhtml" />
{{/each}}
{{#each appendices}}
    <itemref idref="c{{paddedIndex}}_xhtml" />
{{/each}}
    <itemref idref="bibliography_xhtml" />
{{#each indices}}
    <itemref idref="i{{paddedIndex}}_xhtml" />
{{/each}}
  </spine>
  <guide>
    <reference type="toc" title="{{title}}" href="nav.xhtml" />
  </guide>
</package>
