<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
<head>
  <meta charset="utf-8" />
  <meta name="generator" content="pulpweaver-epub" />
  <title>{{title}}</title>
  <style type="text/css">
    h1.title,
    .subtitle,
    .chapterlabel {
      text-align: center;
    }

    .chapterlabel {
      font-weight: bold;
      font-size: xx-large;
    }

    .subtitle {
      font-style: italic;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="../styles/main.css" />
</head>
<body epub:type="bodymatter">
{{#if chapterlabel}}
  {{#if appendix}}
    <p class="chapterlabel">Appendix {{chapterlabel}}</p>
  {{else}}
    <p class="chapterlabel">{{chapterlabel}}</p>
  {{/if}}
{{/if}}
  <h1 class="title">{{title}}</h1>
{{#if subtitle}}
  <h2 class="subtitle">{{subtitle}}</h2>
{{/if}}

{{{content}}}

{{#if footnotes.length}}
<section class="chapternotes">
  <h2>Notes</h2>
{{#each footnotes}}
  <div class="endnotenum">{{num}}</div>
  <aside id="fn{{id}}" role="doc-footnote" epub:type="footnote">
    {{{content}}}
  </aside>
{{/each}}
</section>
{{/if}}
</body>
</html>
