<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
<head>
  <meta charset="utf-8" />
  <meta name="generator" content="pulpweaver-epub" />
  <title>Contents</title>
  <style type="text/css">
  </style>
  <link rel="stylesheet" type="text/css" href="styles/main.css" />
</head>
<body>
<nav epub:type="toc" id="toc">
  <h1 id="toc-title">Contents</h1>
  <ol class="toc">
{{#if foreword}}
    <li id="toc-li-foreword">
      <a href="text/foreword.xhtml">
        Foreword
      </a>
    </li>
{{/if}}
{{#each chapters}}
    <li id="toc-li-{{paddedIndex}}">
      <a href="text/c{{paddedIndex}}.xhtml">
{{#if chapterlabel}}
        {{chapterlabel}}.
{{/if}}
        {{title}}
      </a>
    </li>
{{/each}}
{{#each appendices}}
    <li id="toc-li-{{paddedIndex}}">
      <a href="text/c{{paddedIndex}}.xhtml">
{{#if pagemark}}
        <span role="doc-pagebreak" id="pg{{pagemark.page}}" aria-label="{{pagemark.label}}"/>
{{/if}}
{{#if chapterlabel}}
        Appendix {{chapterlabel}}.
{{/if}}
        {{title}}
      </a>
    </li>
{{/each}}
  </ol>
</nav>
<nav epub:type="page-list" hidden="hidden">
  <ol>
{{#each pages}}
    <li><a href="{{epubfile}}#pg{{page}}">{{label}}</a></li>
{{/each}}
  </ol>
</nav>
<nav epub:type="landmarks" hidden="hidden">
  <ol>
    <li><a epub:type="toc" href="text/spinenav.xhtml#toc">Table of Contents</a></li>
    <li><a epub:type="toc" href="text/listoffigures.xhtml#loi">List of Figures</a></li>
  </ol>
</nav>
</body>
</html>
